.Loading {
  background-color: #f00;
  color: #fff;
  padding: 2px 5px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 2em;
  animation: breathe 1s linear infinite;

  --delay-interval: 200ms;
}

.Loading:nth-child(7n + 1) {
  /* red */
  background-color: #f00;
}
.Loading:nth-child(7n + 2) {
  /* orange */
  background-color: #f60;
  animation-delay: var(--delay-interval);
}
.Loading:nth-child(7n + 3) {
  /* yellow */
  background-color: #e6d419;
  color: #000;
  animation-delay: calc(var(--delay-interval) * 2);
}
.Loading:nth-child(7n + 4) {
  /* green */
  background-color: green;
  animation-delay: calc(var(--delay-interval) * 3);
}
.Loading:nth-child(7n + 5) {
  /* blue */
  background-color: blue;
  animation-delay: calc(var(--delay-interval) * 4);
}
.Loading:nth-child(7n + 6) {
  /* indigo */
  background-color: indigo;
  animation-delay: calc(var(--delay-interval) * 5);
}
.Loading:nth-child(7n) {
  /* violet */
  background-color: hotpink;
  animation-delay: calc(var(--delay-interval) * 6);
}

@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes color-changer {
    0% {
        background-color:#e121d3;
    }
    50% {
        background-color:#9924f2;
    }
    100% {
        background-color:#e121d3;
    }
} */
