.Loading {
  background-color: var(--blue-dark);
  color: #fff;
  padding: 2px 5px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 2em;
  animation: breathe 1s linear infinite;

  --delay-interval: 200ms;
}

// .Loading {
//   background-color: var(--blue-dark);
//   color: #fff;
//   padding: 2px 5px;
//   text-align: center;
//   margin-bottom: 1rem;
//   border-radius: 2em;
//   animation: breathe 1s linear infinite;

//   --delay-interval: 200ms;
// }

// .Loading:nth-child(odd) {
//   background-color: var(--blue-dark);
// }
// .Loading:nth-child(even) {
//   background-color: var(--blue-light);
//   animation-delay: var(--delay-interval);
// }

@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
