.Loading {
  background-color: #e121d3;
  color: #fff;
  padding: 2px 5px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 2em;
  animation: breathe 1s linear infinite;

  --delay-interval: 200ms;
}

.Loading:nth-child(odd) {
  background-color: #e121d3;
}
.Loading:nth-child(even) {
  background-color: #9924f2;
  animation-delay: var(--delay-interval);
}

@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
